@import "global/normalize.less";
@import "global/outlines.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/promo-stats.less";
@import "blocks/advantages.less";
@import "blocks/news.less";
@import "blocks/reviews.less";
@import "blocks/page-footer.less";

@bg-darkgrey: #292929;
@bg-lightgrey: #f8f5f2;
@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";

@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"), url("../fonts/PTSansNarrow.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"), url("../fonts/PTSansNarrowBold.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
 
  font-size: 18px;
  line-height: 27px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;

  background-color: @bg-darkgrey;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: block;
  padding: 13px 29px 11px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: none;

  background-color: transparent;
  border: 1px solid #e5ddd5;
}

.clearfix {
  &:after {
    content: "";

    display: table;
    clear: both;
  }
}

.container {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 640px;
  }

  @media @desktop-widths {
    width: 960px;
  }
}

.container-fluid () {
  width: auto;

  @media @tablet-widths {
    width: 84%;
    max-width: 960px;
    margin: 0 auto;
  }

}
.slider-nav {
  font-size: 0;
  text-align: center;
  line-height: 20px;
}

.slider-nav__btn {
  position: relative;

  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 13px;

  border: 1px solid #ffffff;
  transform: rotate(45deg);
  cursor: pointer;
}

.slider-nav__btn::after {
  content: "";

  position: absolute;
  top: -10px;
  left: -10px;

  width: 25px;
  height: 25px;

  transform: rotate(-45deg);
}

.slider-nav__btn--active {
  background-color: #ffffff;
}