.reviews__wrapper {
  .container;

  padding-top: 27px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 28px;
}


@media @tablet-widths {

  .reviews {
    padding-top: 40px;
    padding-bottom: 71px;
  }

  .reviews__wrapper {
    padding: 0;
  }
  
  .reviews__title {
    margin-right: 200px;
    margin-bottom: 43px;
  }

}



@media @desktop-widths {

  .reviews {
    padding-bottom: 97px;
  }

  .reviews__title {
    margin-left: 70px;
  }

}